[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
flask-cors = "*"
gunicorn = "*"
joblib = "*"
pandas = "*"
tensorflow = "*"
python-decouple = "*"
spotipy = "*"
psycopg2 = "*"
scikit-learn = "==0.21.2"
pipenv-to-requirements = "*"

[requires]
python_version = "3.7"
