[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
numpy = "*"
pandas = "*"
python-decouple = "*"
python-dotenv = "*"
flask-sqlalchemy = "*"
scikit-learn = "*"
json5 = "*"
spotipy = "*"
flask-cors = "*"
tensorflow = "*"
joblib = "*"

[requires]
python_version = "3.7"
